Repository gucio321/d2d2s, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, workflow, code, unittests, danger-zone

.github/labeler.yml:

documentation:
  - ./*md
  - ./docs/**/*

dependencies:
  - go.mod
  - go.sum

workflow:
  - .github/**/*

code:
  - "**/*go"

unittests:
  - "**/*_test.go"

danger-zone:
  - ./LICENSE

itemdata: make TomeMap and QuantityMap a methods IsTome and HasQuantity for ItemCode
  d2sitems/itemdata/item.go
  d2sitems/items.go
Labels: code

readme: update description
  README.md
Labels: documentation

d2smagicattributes: put attributes data from d2sitems/itemdata in d2smagicatributes (#16)
  d2sitems/d2smagicattributes/data.go
  d2sitems/d2smagicattributes/magic_attributs.go
  d2sitems/itemdata/item.go
Labels: code

d2sitems/itemdata: extract base weapon damage from item.go
  d2sitems/itemdata/item.go
  d2sitems/itemdata/weapon_damage.go
  d2sitems/items.go
Labels: code

d2sitems/itemdata: move ItemTypeID into a separated file
  d2sitems/itemdata/item.go
  d2sitems/itemdata/item_type_id.go
  d2sitems/items.go
Labels: code

d2sitems/itemdata: move some sets stuff into sets.go
  d2sitems/itemdata/item.go
  d2sitems/itemdata/sets.go
  d2sitems/items.go
Labels: code

d2sitems/itemdata: add nolint directives for ...Code maps
  d2sitems/itemdata/item.go
Labels: code

d2sitems/itemdata: extract some more Maps into a separated types
  d2sitems/itemdata/item.go
  d2sitems/itemdata/rare.go
  d2sitems/itemdata/runeword.go
  d2sitems/itemdata/sets.go
  d2sitems/itemdata/unique_names.go
  d2sitems/items.go
Labels: code

d2sitems/itemdata: add go:generate directive to unique.go; remove UniqueMap from item.go
  d2sitems/itemdata/item.go
  d2sitems/itemdata/unique_names.go
  d2sitems/items.go
Labels: code

d2sitems/itemdata: move magical modifiers data into a separated file
  d2sitems/itemdata/item.go
  d2sitems/itemdata/magic_modifiers.go
  d2sitems/items.go
Labels: code

d2sitems/itemdata: remove nolint directive from item.go (fix #16)
  d2sitems/itemdata/item.go
Labels: code

d2sitems/itemdata: go generate everything
  d2sitems/itemdata/magical_prefix_string.go
  d2sitems/itemdata/magical_suffix_string.go
  d2sitems/itemdata/rare_string.go
  d2sitems/itemdata/runeword_string.go
  d2sitems/itemdata/set_is_string.go
  d2sitems/itemdata/unique_string.go
Labels: code

api: add SetLevel method
  api.go
Labels: code

all: buildfix
  api.go
Labels: code

d2sstats: optimalize data size (fix #22)
  api.go
  d2sstats/stats.go
Labels: code

hotfix: remove magic `g` letter from end of string in rare.go
  d2sitems/itemdata/rare.go
  d2sitems/itemdata/rare_string.go
Labels: code

d2sitems/itemdata.RareName: change constant's names (fix #23)
  d2sitems/itemdata/rare.go
  d2sitems/itemdata/rare_string.go
Labels: code

d2senums/skill_id: add GetSkillList method
  d2senums/skill_id.go
Labels: code

d2senums: hotfix: fix bug with skill enumeration
  d2senums/skill_id.go
  d2senums/skill_id_string.go
  d2senums/skill_id_string2enum.go
Labels: code

all: lintfix
  d2senums/skill_id.go
Labels: code

d2smercenary: add merc types (close #15)
  d2smercenary/d2smercenarytype/merc_type.go
  d2smercenary/d2smercenarytype/merc_type_test.go
  d2smercenary/d2smercenarytype/mercenary_attribute_string.go
  d2smercenary/d2smercenarytype/mercenary_class_string.go
  d2smercenary/mercenary.go
Labels: code, unittests

all: lintfix
  d2smercenary/d2smercenarytype/doc.go
  d2smercenary/d2smercenarytype/merc_type.go
  d2smercenary/d2smercenarytype/merc_type_test.go
  d2smercenary/d2smercenarytype/mercenary_class_string.go
Labels: code, unittests

d2sstatus: add unittest (fix #33)
  d2s.go
  d2sstatus/status.go
  d2sstatus/status_test.go
Labels: code, unittests
